<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="Name of the Donor" class="form-label">Name of the Donor</label>
                    <input type="text" class="form-control" id="">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="Donor Id" class="form-label">Donor Id</label>
                    <input type="text" class="form-control" id="">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="Donor ID Proof" class="form-label">Donor ID Proof</label>
                    <input type="text" class="form-control" id="">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="Native Location" class="form-label">Native Location</label>
                    <input type="text" class="form-control" id="">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="Address Of Donor" class="form-label">Address Of Donor</label>
                    <textarea class="form-control name=" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="Blood Group" class="form-label">Blood Group</label>
                    <select class="form-control"name="Department" id="">
                        <option value="O+">O+</option>
                        <option value="B+">B+</option>
                        <option value="A+">A+</option>
                        <option value="AB+">AB+</option>
                        <option value="A1+">A1+</option>
                    </select>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="Last date of Donating" class="form-label">Last date of Donating</label>
                    <input type="date" name=""class="form-control" id="">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="Upload Medical Certificate" class="form-label">Upload Medical Certificate</label>
                    <input type="file" name=""class="form-control" id="">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="Mobile Number" class="form-label">Mobile Number</label>
                    <input type="text" name=""class="form-control" id="">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="email" class="form-label">email</label>
                    <input type="email" name=""class="form-control" id="">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <Button class="btn btn-success">Register</Button>
                </div>
            </div>
        </div>
    </div>
</div>
