<app-navbar></app-navbar>
<h1>
    ContactUs
</h1>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-xl-12 col-xxl-12">
            <p>eRaktKosh related queries, feedback and suggestions
Center For Development of Advanced Computing
C-56/1, Anusandhan Bhawan , Sector-62, Noida, Uttar Pardesh-201307
8527890830
eraktkosh[at]cdac[dot]in</p>

<p>For Administrative queries
Blood Cell, National Health Mission
Ministry of Health & Family Welfare, New Delhi-110011</p>

<p>For eRaktKosh related queries, feedback and suggestions
Centre for Development of Advanced Computing
C-56/1, Anusandhan Bhawan, Sector-62, Noida, Uttar Pradesh-201307
8527890830
eraktkosh[at]cdac[dot]in</p>

<p>For administrative queries
Blood Cell, National Health Mission
Ministry of Health & Family Welfare,New Delhi - 110011</p>
        </div>  
        </div>
        </div>    
